body{
    background-color: #024f9c;
    display: flex;
    justify-content: center;
    font-family:'Open Sans', sans-serif;

}

#content{
    background-color: #ff9100;
    height: 850px;
    width: 700px;
    border : solid black 5px;
}

h1{
    color: #024f9c;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}


#logo{
    display: block;
    margin:0 auto;
}

#para{
    padding: 30px;
    line-height: 29px;
    font-size:16px ;
    letter-spacing: 1px;
}