*{
    margin: 0px;
    padding: 0px;
}

#object{
    display: flex;
    height: 400px;
    background-color: pink;
    margin: 20px;
}

#body{
    width:780px ;
    margin:6px 50px 50px 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content:space-evenly;
}

img{    
    order :0;
    height: 200px;
    width: 200px;
    margin: 50px 0px 0px 50px;
}