body{
    margin: 0px;
    padding:0px;
    background-color: white;
}

header h2{
    margin: 0px;
    padding:0px;
    height: 45px;
    background-color: #ff6145;
    text-align: center;
    padding-top: 12px;
}

#content{
    display:flex;

}
.box{
    height: 500px;
}

#left{
background-color: #ffd500;
width: 250px;
height: 485px;
text-align: center;
padding-top: 15px;
}
#center{
background-color: #05bcff  ;
width: 800px;
height: 500px;
}
#right{
padding-top: 15px;
text-align: center;
background-color: hotpink;
width: 250px;
height: 485px;
}
#footer{
    height: 40px;
    padding-top: 10px;
    text-align: center;
    background-color: #8ced8c;
}
.section{
    width: 770px;
    margin: 5px;
    padding: 4px 10px;
    background-color: aqua;
}

